<%= render "shared/bandeau_new",
 titre: "Etablissements",
 texte: "Module d'administration de l'ensemble des établissements de la région.",
 path: new_etablissement_path %>
<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Code adherent</th>
      <th>Telephone</th>
      <th>Fax</th>
      <th>Adresse ligne1</th>
      <th>Adresse ligne2</th>
      <th>Code postal</th>
      <th>Ville</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @etablissements.each do |etablissement| %>
      <tr>
        <td><%= link_to etablissement.id, etablissement_path(etablissement) %> </td>
        <td><%= etablissement.nom %></td>
        <td><%= etablissement.code_adherent %></td>
        <td><%= etablissement.telephone %></td>
        <td><%= etablissement.fax %></td>
        <td><%= etablissement.adresse_ligne1 %></td>
        <td><%= etablissement.adresse_ligne2 %></td>
        <td><%= etablissement.code_postal %></td>
        <td><%= etablissement.ville %></td>
        <td><%= edit_small edit_etablissement_path(etablissement) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
