<%= render "shared/bandeau", titre: "Informations de l'établissement", texte: "Liste des informations associées." %>

<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Nom:</strong>
  <%= @etablissement.nom %>
  <% if @etablissement.is_coordonnateur %>
  <b>[Coordonnateur Régional]</b>
<% end %>

</p>

<p>
  <strong>Code adherent:</strong>
  <%= @etablissement.code_adherent %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @etablissement.telephone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @etablissement.fax %>
</p>

<p>
  <strong>Adresse ligne1:</strong>
  <%= @etablissement.adresse_ligne1 %>
</p>

<p>
  <strong>Adresse ligne2:</strong>
  <%= @etablissement.adresse_ligne2 %>
</p>

<p>
  <strong>Code postal:</strong>
  <%= @etablissement.code_postal %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @etablissement.ville %>
</p>
 <%= back etablissements_path %>
  <%= edit edit_etablissement_path(@etablissement) %>
</div>