 <fieldset>
<div class="form-group">
  <%= builder.label :entreprise %>
<%= builder.autocomplete_field :entreprise_nom, users_autocomplete_entreprise_nom_path ,:update_elements => {:id => '#user_entreprise_id', :entreprise_type => '#user_entreprise_type', class: 'form-control'} %>
  <br/>
  <i>Veuillez taper les premières lettres de l'établissement ou du fournisseur...</i>
  <%= builder.hidden_field :entreprise_id, id: "user_entreprise_id" %>
  <%= builder.hidden_field :entreprise_type, id: "user_entreprise_type" %>
   </div>
  <div class="form-group">
    <%= builder.label :role %>
    <%= builder.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, class: 'form-control') %>
  </div>
 </fieldset>

