<% if policy(Consultation.new).create? %>
<%= render "shared/bandeau_new",
 titre: "Consultations",
 texte: "Module d'administration des consultations",
 path: new_consultation_path %>

<% else %>
<%= render "shared/bandeau",
 titre: "Consultations",
 texte: "Liste des consultations associées à votre entreprise" %>
<% end %>

<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Libelle</th>
      <th>Debut</th>
      <th>Fin</th>
      <th>Créé par</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @consultations.each do |consultation| %>
    <% user = User.find(consultation.user_id) %>
      <tr class="danger">
        <td><%= link_to consultation.code, consultation %></td>
        <td><%= consultation.libelle %></td>
        <td><%= consultation.debut %></td>
        <td><%= consultation.fin %></td>
        <td><%= user.full_name %> <small><i>(<%= user.entreprise.nom %>)</i></small></td>
        <td>
           <% if consultation.user_id == current_user.id %>
          <%= edit edit_consultation_path(consultation) %>
          <% end %>
        </td>
      </tr>
      <% premier_passage=true %>
      <% consultation.markets.each do |marche| %>
      <% if premier_passage %>
      <tr class="info">
        <td></td>
        <td></td>
        <td><strong>Marchés associés</strong></td>
        <td><strong>Code</strong></td>
        <td><strong>Titulaire</strong></td>
        <td>
          <% if current_user.etablissement? || current_user.admin? %>
          <strong>Déclaration</strong>
          <% end %>
        </td>
      </tr>
      <% premier_passage=false %>
      <% end %>
      <tr class="info">
        <td></td>
        <td></td>
        <td></td>
        <td><%= marche.code %> </td>
        <td><%= marche.fournisseur.nom %> </td>
        <td>
        <% if current_user.etablissement? || current_user.admin? %>
          <%= link_to "FNC", new_market_fnc_path(marche), class: "btn btn-primary" %>
        <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>