<% if policy(Consultation.new).create? %>
<%= render "shared/bandeau_new",
 titre: "Consultations",
 texte: h("Modification des consultations et déclarations des fiches de non conformité. Veuillez cliquer sur détail (icône) pour pouvoir faire la déclaration."),
 path: new_consultation_path %>

<% else %>
<%= render "shared/bandeau",
 titre: "Consultations",
 texte: "Liste des consultations associées à votre entreprise" %>
<% end %>

<div class="container">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Détail</th>
      <th>Code</th>
      <th>Libelle</th>
      <th>Debut</th>
      <th>Fin</th>
      <th>Créé par</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% cpt=0 %>
    <% @consultations.each do |consultation| %>
    <% user = User.find(consultation.user_id) %>
    <% if cpt % 2 == 0 %>
      <tr class="danger">
     <% else %>
     <tr>
     <% end %>
     <% cpt =cpt+1 %>
        <td class=" clickable" data-toggle="collapse" id="<%= consultation.id  %>" data-target=".<%=consultation.id %>collapsed"> <span class="glyphicon glyphicon-collapse-down"></span></td>
        <td><%= link_to consultation.code, consultation %></td>
        <td class=" clickable" data-toggle="collapse" id="<%= consultation.id  %>" data-target=".<%=consultation.id %>collapsed"><%= consultation.libelle %></td>
        <td class=" clickable" data-toggle="collapse" id="<%= consultation.id  %>" data-target=".<%=consultation.id %>collapsed"><%= consultation.debut %></td>
        <td class=" clickable" data-toggle="collapse" id="<%= consultation.id  %>" data-target=".<%=consultation.id %>collapsed"><%= consultation.fin %></td>
        <td class=" clickable" data-toggle="collapse" id="<%= consultation.id  %>" data-target=".<%=consultation.id %>collapsed"><%= user.full_name %> <small><i>(<%= user.entreprise.nom %>)</i></small></td>
        <td>
           <% if consultation.user_id == current_user.id %>
          <%= edit edit_consultation_path(consultation) %>
          <% end %>
        </td>
      </tr>
      <% premier_passage=true %>
      <% consultation.markets.each do |marche| %>
      <% if premier_passage %>
      <tr class="info collapse out budgets <%= consultation.id  %>collapsed">
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Marchés associés</strong></td>
        <td><strong>Code</strong></td>
        <td><strong>Titulaire</strong></td>
        <td>
          <% if current_user.etablissement? || current_user.admin? %>
          <strong>Déclaration</strong>
          <% end %>
        </td>
      </tr>
      <% premier_passage=false %>
      <% end %>
      <tr class="info collapse out budgets <%= consultation.id  %>collapsed">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= marche.code %> </td>
        <td><%= marche.fournisseur.nom %> </td>
        <td>
        <% if current_user.etablissement? || current_user.admin? %>
          <%= link_to "FNC", new_market_fnc_path(marche), class: "btn btn-primary" %>
        <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>