<%= render "shared/bandeau", titre: "Consultation", texte: "Liste des informations associées." %>
<div class="container">
    <p>
    <strong>Publication en cours:</strong>
    <%= @consultation.en_cours %>
  </p>
  <p>
    <strong>Code:</strong>
    <%= @consultation.code %>
  </p>
  <p>
    <strong>Libelle:</strong>
    <%= @consultation.libelle %>
  </p>
  <p>
    <strong>Debut:</strong>
    <%= @consultation.debut %>
  </p>
  <p>
    <strong>Fin:</strong>
    <%= @consultation.fin %>
  </p>
  <p><strong>Etablissements:</strong></p>
  <ul>
  <% @consultation.etablissements.each do |etb| %>
      <li><%= etb.nom %> </li>
  <% end %>
  </ul>

  <%= back consultations_path %>
  <% if @consultation.user_id == current_user.id %>
     <%= edit edit_consultation_path(@consultation) %>
  <% end %>

</div>
