<td>
  <%= link_to user.email, user %>
</td>
<td>
  <% if user.confirmed? %>
      <%= form_for(user, :html => { :role => 'form'}) do |f| %>
    <div class="form-group">
      <%= f.label :role, "Rôle" %>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]},{}, id: "select_entreprise_#{user.id}") %>
    </div>
    <%= render 'fournisseur_autocomplete_field', f: f %>

    <%= f.submit 'Change Role', :class => 'btn btn-primary btn-xs', id: "submit_btn_user_#{user.id}" %>
    <% end %>
    <% else %>
    Non confirmé
  <% end %>

</td>

<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-xs') unless user == current_user %>
</td>
