<%= render "shared/bandeau", titre: "Mot de passe oublié ?", texte: "" %>
<div class="authform">
  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.submit "Envoyer !" %>
  <% end %>
</div>
