<%= render "shared/bandeau_new",
 titre: "Points de livraion de l'établissement #{@etablissement.nom}",
 texte: "Module d'administration des points de livraison",
 path: new_etablissement_point_livraison_path %>


<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Adresse ligne1</th>
      <th>Adresse ligne2</th>
      <th>Adresse cp</th>
      <th>Adresse ville</th>
      <th>Adresse commentaire</th>
      <th>Is principal</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @point_livraisons.each do |point_livraison| %>
      <tr>
        <td><%= point_livraison.adresse_ligne1 %></td>
        <td><%= point_livraison.adresse_ligne2 %></td>
        <td><%= point_livraison.adresse_cp %></td>
        <td><%= point_livraison.adresse_ville %></td>
        <td><%= point_livraison.adresse_commentaire %></td>
        <td><%= point_livraison.is_principal %></td>
        <td><%= edit_small edit_etablissement_point_livraison_path(@etablissement, point_livraison) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


