<%= form_for(@horaire_livraison) do |f| %>
  <% if @horaire_livraison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horaire_livraison.errors.count, "error") %> prohibited this horaire_livraison from being saved:</h2>

      <ul>
      <% @horaire_livraison.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jour %><br>
    <%= f.text_field :jour %>
  </div>
  <div class="field">
    <%= f.label :debut %><br>
    <%= f.time_select :debut %>
  </div>
  <div class="field">
    <%= f.label :fin %><br>
    <%= f.time_select :fin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
