<p id="notice"><%= notice %></p>

<h1>Listing Horaire Livraisons</h1>

<table>
  <thead>
    <tr>
      <th>Jour</th>
      <th>Debut</th>
      <th>Fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horaire_livraisons.each do |horaire_livraison| %>
      <tr>
        <td><%= horaire_livraison.jour %></td>
        <td><%= horaire_livraison.debut %></td>
        <td><%= horaire_livraison.fin %></td>
        <td><%= link_to 'Show', horaire_livraison %></td>
        <td><%= link_to 'Edit', edit_horaire_livraison_path(horaire_livraison) %></td>
        <td><%= link_to 'Destroy', horaire_livraison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horaire livraison', new_horaire_livraison_path %>
