<%= render "shared/bandeau", titre: "Authentification", texte: "Veuillez saisir votre email et votre mot de passe." %>
<div class="authform">
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true %>
      <% if devise_mapping.recoverable? %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
      <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
    <% end %>
    <%= f.submit "Connection" %>
  <% end %>
</div>




