<%= render "shared/bandeau",
 titre: "Fiche de non conformité",
 texte: "Liste des fiches de non conformité associées à votre entreprise" %>
<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Etat</th>
      <th>Numéro</th>
      <th>Date creation</th>
      <th>Raison litige</th>
      <th>Produits</th>
      <th>Fournisseur</th>
 </tr>
  </thead>
  <tbody>
    <% @fncs.each do |fnc| %>
      <tr>
        <td>
          <% if fnc.cloturee %>
            <span class="glyphicon glyphicon-ok"></span>(F)
          <% else %>
            <span class="glyphicon glyphicon-pushpin">(O)</span>
          <% end %>
        </td>
        <td><%=link_to fnc.id, fnc_path(fnc) %></td>
        <td><%= l fnc.created_at, format: :short %></td>
        <td><%= fnc.raison_litige %></td>
        <td><%= fnc.produits %></td>
        <td><%= fnc.fournisseur.nom %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

