<%= render "shared/bandeau", titre: "Fiche de non conformité", texte: "Liste des informations associées à la fiche de non conformité" %>
<%= render 'fixed_elements' %>
<% @fnc.observations.each do |obser| %>
  <%= render 'obs_etb_titulaire', obser: obser %>
<% end %>
 <%= back fncs_path %>
 <%= link_to "Répondre", edit_fnc_path(@fnc), class: "btn btn-warning" %>
</div>
