<p id="notice"><%= notice %></p>

<h1>Listing Famille Segments</h1>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @famille_segments.each do |famille_segment| %>
      <tr>
        <td><%= famille_segment.libelle %></td>
        <td><%= link_to 'Show', famille_segment %></td>
        <td><%= link_to 'Edit', edit_famille_segment_path(famille_segment) %></td>
        <td><%= link_to 'Destroy', famille_segment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Famille segment', new_famille_segment_path %>
