<%= render "shared/bandeau", titre: "Segment", texte: "Attribut(s) du segment." %>

<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Libellé:</strong>
  <%= @famille_segment.libelle %>
</p>
 <%= back famille_segments_path %>
 <%= edit edit_famille_segment_path(@famille_segment) %>
</div>