<div class="container">
<%= bootstrap_form_for(@fournisseur) do |f| %>
    <%= render 'shared/model_errors', modele: @fournisseur %>
    <%= f.text_field :nom %>
    <%= f.text_field :telephone %>
    <%= f.text_field :fax %>
    <%= f.text_field :adresse_ligne1 %>
    <%= f.text_field :adresse_ligne2 %>
    <%= f.text_field :code_postal %>
    <%= f.text_field :ville %>
    <%= f.submit  %>
 <% end %>
</div>