<%= render "shared/bandeau_new",
 titre: "Fournisseurs",
 texte: "Module d'administration de l'ensemble des fournisseurs de la région.",
 path: new_fournisseur_path %>

<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Telephone</th>
      <th>Fax</th>
      <th>Adresse ligne1</th>
      <th>Adresse ligne2</th>
      <th>Code postal</th>
      <th>Ville</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fournisseurs.each do |fournisseur| %>
      <tr>
        <td><%= link_to fournisseur.id, fournisseur_path(fournisseur) %></td>
        <td><%= fournisseur.nom %></td>
        <td><%= fournisseur.telephone %></td>
        <td><%= fournisseur.fax %></td>
        <td><%= fournisseur.adresse_ligne1 %></td>
        <td><%= fournisseur.adresse_ligne2 %></td>
        <td><%= fournisseur.code_postal %></td>
        <td><%= fournisseur.ville %></td>
        <td><%= edit_small edit_fournisseur_path(fournisseur) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

