<!-- AchatLim - - Plateforme Collaborative Achat du Limousin -->
<!-- Copyright (C) 2014  Arnaud GARCIA - GCS EPSILIM -->
<!-- This program is free software: you can redistribute it and/or modify -->
<!-- it under the terms of the GNU General Public License as published by -->
<!-- the Free Software Foundation, either version 3 of the License, or -->
<!-- (at your option) any later version. -->
<!-- This program is distributed in the hope that it will be useful, -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!-- GNU General Public License for more details. -->
<!-- You should have received a copy of the GNU General Public License -->
<!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Achatlim" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "AchatLim" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
 <footer>
        <p>&copy; GCS EPSILIM 2014</p>
         <% if current_user && current_user.entreprise %>
        <%= current_user.email %>, <%= current_user.entreprise.nom %>, (<%= current_user.entreprise_type.upcase %>)<br/>
      <% end %>
      </footer>

  </body>
</html>
